<nav class="navbar fixed-top navbar-light bg-light navbar-expand-md border-bottom">
  <div class="container">
    <a class="navbar-brand" href="#">RnCitizen</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-nav-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"><a class="nav-link" href="#about">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#classes">Radão</a></li>
          <li class="nav-item"><a class="nav-link" href="#gallery">Notícias</a></li>
          <li class="nav-item"><a class="nav-link" href="#events">Contatos</a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="#contact">Medição</a></li>
          <li class="nav-item"><a class="nav-link" href="#offers">Login</a></li>
        </ul>
    </div>
  </div>
</nav>
